:root {

	--primary: rgb(98, 148, 96);	--secondary: rgba(98, 148, 96, .5);

	--tertiary: rgb(150, 190, 140);

        --bg: rgba(98, 148, 96, .1);

}

body {

	background-color: var(--bg);

	padding-bottom: 100px;

}

/**************/

/* Horizontal Navigaiton Menu CSS */

/**************/

#nav-ul {

	display: table;

	margin: 0 auto;

	list-style-type: none;

	padding: 0;

	overflow: hidden;

	background-color: var(--tertiary);

}

#active-menu {

	font-weight: bold;

	background-color: var(--secondary);

}

#nav-ul>li {

	float: left;

}

#nav-ul>li a {

	display: block;

	color: white;

	text-align: center;

	padding: 14px 16px;

	text-decoration: none;

}

#nav-ul>li a:hover {

	background-color: var(--primary);

}

/**************/

h1,

h3 {

	text-align: center;

	color: var(--primary);

}

img {

	height: 200px;

	border: 2px solid var(--primary);

	margin-left: 20px;

}

hr {

	margin: 20px;

}

ul {

	display: table;

	margin: 0 auto;

}

li>b {

	color: var(--primary);

}

a {

	text-decoration: none;

}

a:hover {

	color: red;

}

a:focus {

	color: orange;

}

a:visited {

	color: teal;

}

table {

	margin-left: auto;

	margin-right: auto;

	border: 3px solid black;

	padding: 5px;

}

td {

	border: 1px solid black;

	padding: 5px;

}

.center {

	display: block;

	margin-left: auto;

	margin-right: auto;

}

.about-li {

	padding: 5px;

}

.website-li {

	padding: 2px;

}

#about-video {

	max-width: 100%;

}

#contact-form {

	margin: 0 auto;

	width: 250px;

}

#contact-form>input {

	width: 95%;

	border-radius: 2px;

	border: 1px solid var(--primary);

}

#contact-form>select {

	width: 95%;

	border-radius: 2px;

	border: 1px solid var(--primary);

}

#contact-form>textarea {

	border: 1px solid var(--primary);

	border-radius: 2px;

}

#message {

	width: 95%;

}

#submit-button {

	background-color: var(--primary);

	padding: 5px;

	color: white;

}

#submit-button:hover {

	cursor: pointer;

}

#footer {

	position: fixed;

	left: 0;

	bottom: 0;

	width: 100%;

	background-color: black;

	color: white;

	text-align: center;

}

#heading-tr {

	color: purple;

	text-align: center;

	font-size: 20px;

}

@media screen and (max-width: 800px) {

	#contact-form {

		width: 100%;

		font-size: 1.2em;

	}

	#contact-form>input {

		height: 25px;

	}

	#contact-form>select {

		height: 25px;

	}
